.Contact {
    font-variant: none;
    text-align: center;
    text-decoration: none;
    color: black;
}

.Contact__icon {
    margin-right: 10px;
}

.Contact a:link, .Contact a:visited, .Contact a:hover {
    text-decoration: none;
}

.Contact a:link, .Contact a:visited {
    color: black;
}

.Contact a:hover {
    color: grey;
}

.Contact .hidden {
    display: none;
}
