.footer {
    position: relative;
    height: 3rem;
    background: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

.social {
    margin: auto;
}

.social__link {
    width: 4rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
}

.social__icon {
    display: inline-block;
    font-size: 1.2rem;
    color: white;

}

.social__link:hover {
    border-color: grey;
    cursor: pointer;
}

.social__link:hover .social__icon {
    color: lightgrey;
    text-decoration: underline;
}
