.Header {
    background-color: white;
    height: 12.5rem;
    width: auto;
    color: black;
    display: flex;
    position: relative;

}

.Header div {
    margin: auto;
}

.Header__picture-container {
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
}

.Header__picture {
    height: 100%;

}

.Header__name {
    display: block;
    font-size: 2.5rem;
}

.Header__job {
    font-size: 2.5rem;
    display: block;
    font-weight: bolder;
}

.Header__lede{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
}

.menu__btn {
    display: none;
}

.non-letter-smallcaps {
    font-size: 70%;
}

@media only screen and (max-width: 600px) {
    /*.Header {*/
    /*    height: 190px;*/
    /*}*/
    .menu__btn {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
    }
    .menu__btn:hover {
        color: lightgrey;
    }
    .menu__icon {
        font-size: 30px;
    }
    .Header__picture-container {
        height: 100%;
        width: 50%;
    }
    .Header__picture {
        height: 100%;
        bottom: 0;
        left: 0;
        object-fit: cover;
    }
}