.Header {
    background: right no-repeat url("../assets/header.jpg");
    height: 12.5rem;
    width: auto;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Header div {
    margin: auto;
}

.Header__picture {
    /*margin-left: 5%;*/

}

.Header__name {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
}

.Header__job {
    font-size: 1.5rem;
    display: block;
}

.menu__btn {
    display: none;
}

.non-letter-smallcaps {
    font-size: 70%;
}

@media only screen and (max-width: 600px) {
    /*.Header {*/
    /*    height: 190px;*/
    /*}*/
    .menu__btn {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
    }
    .menu__btn:hover {
        color: lightgrey;
    }
    .menu__icon {
        font-size: 30px;
    }
    .Header__picture-container {
        height: 100%;
        width: 50%;
    }
    .Header__picture {
        height: 100%;
        bottom: 0;
        left: 0;
        object-fit: cover;
    }
}