.Menu {
    text-transform: uppercase;
}
.Menu__nav {
    height: 3rem;
    background: var(--primary-color);
    text-align: center;
    line-height: 3rem;
    vertical-align: middle;

}

.Menu__item {
    padding: 0 1rem 0 1rem;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    position: relative;
}
.Menu__item:before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.Menu__item:hover,.Menu__item--active{
    font-weight: bold;
}
.Menu__item:hover::after,.Menu__item--active::after {
    content: "";
    position: absolute;
    top: calc(100% - 14px);
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
@media only screen and (max-width: 600px) {

    .Menu{
        position: absolute;
        z-index: 5;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0, 0.3);
        transform: none;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .Menu--hidden {
        visibility: hidden;
    }
    .Menu__nav{
        transform: translate(-300px, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        height: 300px;
        width: 300px;
    }
    .Menu__nav--show{
        transform: none;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .Menu__item{
        font-size: 2rem;
        line-height: 75px;
        height: 25%;
        display: block;
    }
}
