.App {
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto 0 auto;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}